<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="info" packages="net.upm.util.log">
    <Appenders>
        <ColoredConsoleAppender name="Console">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </ColoredConsoleAppender>
    </Appenders>
    <Loggers>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
